<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>default</key>
	<string></string>
	<key>street</key>
	<dict/>
	<key>footway</key>
	<dict>
		<key>type</key>
		<string>footway</string>
		<key>featureTypes</key>
		<array>
			<string>building</string>
			<string>apartments</string>
			<string>farm</string>
			<string>hotel</string>
			<string>house</string>
			<string>detached</string>
			<string>dormitory</string>
			<string>terrace</string>
			<string>houseboat</string>
			<string>bungalow</string>
			<string>cabin</string>
			<string>commercial</string>
			<string>office</string>
			<string>industrial</string>
			<string>retail</string>
			<string>supermarket</string>
			<string>warehouse</string>
			<string>kiosk</string>
			<string>religious</string>
			<string>cathedral</string>
			<string>temple</string>
			<string>chapel</string>
			<string>church</string>
			<string>mosque</string>
			<string>synagogue</string>
			<string>shrine</string>
			<string>civic</string>
			<string>government</string>
			<string>hospital</string>
			<string>school</string>
			<string>transportation</string>
			<string>stadium</string>
			<string>train_station</string>
			<string>university</string>
			<string>grandstand</string>
			<string>public</string>
			<string>barn</string>
			<string>bridge</string>
			<string>bunker</string>
			<string>carport</string>
			<string>conservatory</string>
			<string>garage</string>
			<string>garages</string>
			<string>farm_auxiliary</string>
			<string>garbage_shed</string>
			<string>greenhouse</string>
			<string>hangar</string>
			<string>hut</string>
			<string>pavilion</string>
			<string>parking</string>
			<string>roof</string>
			<string>sports_hall</string>
			<string>shed</string>
			<string>stable</string>
			<string>service</string>
			<string>ruins</string>
			<string>transformer_tower</string>
			<string>water_tower</string>
		</array>
		<key>didEnter</key>
		<dict>
			<key>sound</key>
			<string></string>
		</dict>
		<key>didLeave</key>
		<dict>
			<key>sound</key>
			<string></string>
		</dict>
		<key>didBecomeActive</key>
		<dict>
			<key>sound</key>
			<string></string>
		</dict>
	</dict>
</dict>
</plist>
