<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiZGVyeiIsImEiOiJjaW80ZDM1c24wMDJwdmtrcGs3cWZuMzBvIn0.kXGGjiq8gWSM4AxFBN99vg</string>
	<key>MGLMapboxAccessTokenOld</key>
	<string>pk.eyJ1IjoiZ3Jvc3NyYXAiLCJhIjoiY2s3dDU5ZHpiMG1hYzNvbjF6bDliamFkdSJ9.1tjeFkXmEUGYBQZ_ygUY1Q</string>
	<key>MGLStreetStyleUrl</key>
	<string>mapbox://styles/derz/ckb51bve32el11imvqlp1tb3n</string>
	<key>MGLStreetStyleUrlDefault</key>
	<string>mapbox://styles/derz/ckaebjf7u1a201inzgfyw7cpj</string>
	<key>MGL_STYLE_URL_OLD</key>
	<string>mapbox://styles/grossrap/ck9lwxfs42i191ipdaaweevph/draft</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Shows your location on the map and helps improve the map.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
